<section>

    <div class="card">

        <form action="/admin/add-product" method="post" enctype="multipart/form-data">
            <h3>ADD PRODUCT</h3>
            <div class="mb-3">
            <label for="" class="form-label">Name</label>
            <input type="text" class="form-control" name="name">
            </div>

             <div class="mb-3">
            <label for="" class="form-label">Category</label>
            <input type="text" class="form-control" name="category">
            </div>

            <div class="mb-3"> 
            <label for="" class="form-label">Price</label>
            <input type="text" class="form-control" name="price">
            </div>

             <div class="mb-3">
            <label for="" class="form-label">Description</label>
            <input type="text" class="form-control" name="description">
            </div>

             <div class="mb-3">
            <label for="" class="form-label">Image</label>
            <input type="file" class="form-control" name="image">
            </div>

            <button type="submit">submit</button>

        </form>

    </div>

</section>