<form action="/login" method="post">
    <div class="col-md-2 m-auto mt-4">

      {{#if loginErr}}
          <p class="error" style="color: red;">{{loginErr}}</p>
      {{/if}}

        <h2 class="text-center">LOGIN</h2>

    <div class="container">
    <label for="email"><b>Email address</b></label>
    <input type="text" placeholder="Enteremail address" name="Email" required>
    </div>

    <div class="container">
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="Password" required>
    </div>

    <a class="ml-2" href="/create">Create new account?</a>

    <div class="text-center mt-2">
    <button type="submit" class="btn btn-primary">Login</button>
    </div>

    
  </div>
</form>